# 12. Pivot_table, Gruoupby 사용하기

In [1]:
import numpy as np
import pandas as pd

In [2]:
d = pd.read_csv('http://bit.ly/ds-korean-idol')
d.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

## 12-1. pivot_table
 * 엑셀의 피봇테이블과 동일함

In [4]:
# 그룹과 성별에 따른 키 평균 구하기
# 행 인덱스 : 그룹
# 열 인덱스 : 성별
# 값 : 키 평균
pd.pivot_table(d, index='그룹', columns='성별', values='키', aggfunc=np.mean)

성별             남자     여자
그룹
뉴이스트   177.766667    NaN
마마무           NaN  162.1
방탄소년단  176.560000    NaN
빅뱅     177.000000    NaN
아스트로   183.000000    NaN
핫샷     167.100000    NaN